


body{
    background-color:black;
   height: auto;
   width: auto;
    display: flex;
    overflow: hidden;
    
}

.button{
    margin-top: 100px;
    margin-left: 50px;
    width:25vw;
    height: 25vh;
    align-items: center;
}

button{
    width: 300px;
    height: 100px;
    background-color: #fff;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#000;
    margin-top: 10px;
    border-radius: 10px;
}


.container{
    display: grid;
    grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    background-color:#fff;
    width:940px;
    height: 940px;
    overflow: hidden;
    border:5px grey solid;

}


.grid{
    background-color:white;
    border:black 1px solid;}

#color{
    display: flex;
    margin-top: 25px;
}

p{
    color: #fff;
    font-size: 2rem;
}